body {
    font-family: "Lucida Console", Courier, monospace;
    background-color: aliceblue;
  }

  h1 {
    text-align: center;
    text-decoration: underline;
  }

  h2 {
    text-align: center;
    text-decoration: underline;
  }
  
  table {
    border: 2px solid ;
    width: 1400px;
    margin: auto;
    align-content: center;
  }
  
  thead {
    background-color: crimson);
  }
  
  td {
    border-top: 3px solid black;
  }
  
  .code {
    font-size: 16px;
    font-family: monospace;
    background-color: cyan;
  }