body {
    font-family: "Lucida Console", Courier, monospace;
    background-color: white;
  }

  h1 {
    text-align: center;
    text-decoration: underline;
  }

  h2 {
    text-align: center;
    text-decoration: underline;
  }
  
  table {
    border: 2px solid ;
    width: 1400px;
    margin: auto;
    align-content: center;
  }
  
  thead {
    background-color: rgb(220, 45, 45);
  }
  
  td {
    border-top: 3px solid rgb(0, 0, 0);
  }
  
  .code {
    font-size: 16px;
    font-family: monospace;
    background-color: rgb(31, 154, 241);
  }